---
import '@fontsource/poppins';
import '@fontsource/ibm-plex-mono';
import Header from '../components/navbar.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Srijan Ray</title>
	</head>
	<body>
        <Header />
        <h1 class="text-6xl p-6">About</h1>

        <div class="text-3xl p-6">
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-3 font-serif">So I kinda didn't make my about page yet... Here's a description I made about myself from high school that is pretty accurate but not up to date and not in anyway reflective of my current writing style. Don't worry, a real about page is coming soon to the many people interested in my shining portfolio. Enjoy!</h3>
            <h3 class="py-3 font-serif">
Srijan Ray is an incoming computer science student at the Georgia Institute of Technology who is passionate about using machine learning to advance biomedical research. He is particularly interested in using deep learning to develop new diagnostic and therapeutic tools for diseases such as cancer.

	Ray has a vast amount of experience in the AI field, having worked as a research assistant in several labs. In the Johns Hopkins School of Medicine Image Response Assessment Team (IRAT) lab under Jeffrey Leal, he developed a deep learning model that utilized image segmentation to detect cancer in PET Images. In the Johns Hopkins Whiting School of Engineering Barman Laboratory , he helped develop a tool that detects radiation resistance in cancer cells using image classification.
    
	Ray's work has the potential to make a real difference in the lives of people who are affected by disease. He is a bright and promising young researcher who is well on his way to making a significant impact on the field of biomedical research.
            </h3>
        </div>
	</body>
</html>

