---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
    <div class="p-8">
        <h1 class="text-4xl p-4">
            About
        </h1>
        <p class="text-2xl p-4 text-justify">
            Hi, my name is Srijan! I am currently a 2nd-year Computer Science Major at Georgia Tech,
            concentrating in Aritficial Intelligence and Modeling and Simulation.
            My main interests are in applying machine/deep learning imaging and 
            image analysis techniques to the biomedical field for developing better disease
            diagnosis and treatment monitoring methods. I have more than 6 years of experience working at Johns Hopkins, Georgia Tech,
            and Emory, doing research in both nuclear medicine based deep learning image analysis and
            cellular microscopy based analysis. I also have experience in Software Development and Data Science 
            from interning at the Johns Hopkins Applied Physics Laboratory, where I worked on building Full-Stack applications
            and Data Analysis. Below is my email where you can contact me at and a timeline of my current work/research journey. 

        </p>
        <p class="text-xl p-4 text-justify">
            Email: <b>sray99 [at] gatech [dot] edu</b>
        </p>
    </div>
    <div class="flex w-full flex-col">
        <div class="divider">Timeline</div>
    </div>
    <div>
        <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
            <li>
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-start mb-10 md:text-end">
                    <time class="font-mono italic">2019</time>
                    <div class="text-lg font-black">Joined Image Response Assessment Team at JHU/SOM</div>
                    I started working with Professor Jeff Leal at the Johns Hopkins Image Response Assessment Team
                </div>
                <hr />
            </li>
            <li>
                <hr />
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-end md:mb-10">
                    <time class="font-mono italic">2021</time>
                    <div class="text-lg font-black">Joined RISE Lab at JHU/SOM</div>
                    I started working under Dr. Ethel Ngen at the Responsive Imaging BioSensors and BioEngineering Lab    </div>
                <hr />
            </li>
            <li>
                <hr />
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-start mb-10 md:text-end">
                    <time class="font-mono italic">2022</time>
                    <div class="text-lg font-black">Joined Barman Lab at JHU Whiting School of Engineering</div>
                    I started working under Dr. Ishan Barman and soon to be Dr. Saransh Arora at the Barman Laboratory in the Johns Hopkins
                    Whiting School of Engineering
                </div>
                <hr />
            </li>
            <li>
                <hr />
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-end md:mb-10">
                    <time class="font-mono italic">2023</time>
                    <div class="text-lg font-black">Enrolled at Georgia Tech</div>
                    Started my undergrad at Georgia Tech, majoring in Computer Science
                </div>
                <hr />
            </li>
            <li>
                <hr />
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-start mb-10 md:text-end">
                    <time class="font-mono italic">2024</time>
                    <div class="text-lg font-black">Published first conference paper</div>
                    I published my first conference paper in January 2024 at SPIE Photonics West
                </div>
                <hr />
            </li>
            <li>
                <hr />
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-end mb-10 ">
                    <time class="font-mono italic">2024</time>
                    <div class="text-lg font-black">Started working at JHU APL</div>
                    I started working at the Johns Hopkins Applied Physics Laboratory as a Aritificial Intelligence/Machine Learning/Data Science & Engineering Intern
                </div>
                <hr />
            </li>
            <li>
                <hr />
                <div class="timeline-middle">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="timeline-start mb-10 md:text-end">
                    <time class="font-mono italic">2024</time>
                    <div class="text-lg font-black">Joined Dr. Ram's Lab</div>
                    I joined Dr. Sundaresh Ram's Lab at Emory University School of Medicine
                </div>
            </li>
        </ul>
    </div>
</Layout>


