---
import '@fontsource/poppins';
import '@fontsource/ibm-plex-mono';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Srijan Ray</title>
	</head>
	<body>
        <h1 class="text-6xl p-6">Srijan Ray's Developer Portfolio</h1>

        <div class="text-3xl p-6">
            <h3 class="py-3 font-serif">Computer Science Student at Georgia Tech</h3>
            <h3 class="py-3 font-serif">AI/ML Engineer</h3>
            <h3 class="py-3 font-serif">Neovim Enthusiast</h3>
        </div>
	</body>
</html>
