---
import '@fontsource/poppins';
import '@fontsource/ibm-plex-mono';
// import Header from '../components/menubar.vue';
import Header from '../components/navbar.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Srijan Ray</title>
	</head>
	<body>
        <Header />
        <div class="hero bg-base-100 min-h-screen">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <img
                    src="../SrijanRay_Headshot.jpeg"
                    class="max-w-sm rounded-lg shadow-2xl" />
                <div>
                    <h1 class="text-6xl font-bold mb-10 mr-20">Hi, I'm Srijan!</h1>
                    <h3 class="py-3 mr-20 text-2xl">Computer Science Major at Georgia Tech</h3>
                    <h3 class="py-3 mr-20 text-2xl">Machine Learning Engineer</h3>
                </div>
            </div>
        </div>
        <div class="divider"></div>

        <div class="text-3xl p-6">
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
        </div>
	</body>
</html>
