---
import '@fontsource/poppins';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <h1 class="text-6xl p-6">Srijan Ray's Developer Portfolio</h1>

        <div class="text-3xl p-6">
            <h3 class="py-3">AI/ML Engineer</h3>
            <h3 class="py-3">Software/Systems Engineer as a Hobby</h3>
            <h3 class="py-3">Neovim Enthusiast</h3>
        </div>
	</body>
</html>
