---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Srijan Ray">
            <div class="hero bg-base-100 min-h-screen">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <img
                    src="../SrijanRay_Headshot.jpeg"
                    class="max-w-sm rounded-lg shadow-2xl" />
                <div>
                    <h1 class="text-6xl font-bold mb-10 mr-20">Hi, I'm Srijan!</h1>
                    <h3 class="py-3 mr-20 text-2xl">Computer Science Major at Georgia Tech</h3>
                    <h3 class="py-3 mr-20 text-2xl">Machine Learning Engineer</h3>
                </div>
            </div>
        </div>

</Layout>
