---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Projects">
        <div class="text-3xl p-6">
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-3 font-serif">Coming soon...</h3>
        </div>
</Layout>



