---
import '@fontsource/poppins';
import '@fontsource/ibm-plex-mono';
import Header from '../components/navbar.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>Srijan Ray CV/Resume</title>
	</head>
	<body>
        <Header />
        <h1 class="text-6xl p-6">CV/Resume</h1>

        <div class="text-3xl p-6">
            <h3 class="py-6 text-6xl text-red-600" >Portfolio UNDER DEVELOPMENT!!!</h3>
            <h3 class="py-3 font-serif">Coming soon...</h3>
        </div>
	</body>
</html>



