---
import '@fontsource/poppins';
import '@fontsource/ibm-plex-mono';
import Header from '../components/navbar.vue';
// import "../assets/app.css";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{ title }</title>
	</head>
	<body>
        <Header />
        <h1 class="text-6xl p-6">{ title }</h1>

<slot />
	</body>
</html>

